{% extends "__layout__.html" %}

{% block headtags %}
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/resultbuilder.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/pages/event_lookup.js"></script>
{% endblock %}

{% block headJS %}

    var curPage;
    var evtId = "{{ get.evt }}";

    $(document).ready(function() {
    });

{% endblock %}

{% block navbarExtra %}
    <!--<li style="float: right"><a href="{{ BASE_URL }}event/main?evt={{ get.evt }}">Full Grid</a></li>-->
    <!--<li style="float: right"><a href="{{ BASE_URL }}event/results?evt={{ get.evt }}">Results</a></li>-->
    <!--<li style="float: right"><a href="{{ BASE_URL }}event/splits?evt={{ get.evt }}">Splits</a></li>-->
    <li style="float: right"><a href="{{ BASE_URL }}lookup?evt={{ get.evt }}">Lookup</a></li>
{% endblock %}

{% block content %}

<div class="stdTablePage results" id="lookupMain">
    <div style="display: block; height: auto; width: 500px; text-align: center" class="ui-widget ui-widget-content ui-corner-all stdTablePage">
        <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix" unselectable="on">
            <span class="ui-dialog-title" id="ui-dialog-title-2" unselectable="on" style="-moz-user-select: none;">{{ participant.bibNumber }}: {{ participant.firstName }} {{ participant.lastName }}</span>
        </div>
        <div class="ui-dialog-content ui-widget-content" style="width: auto; display: block; min-height: 170px; height: auto; text-align: center; padding: 0.75em">
            <div class="ui-widget participantSummary">
                <div id="gridhtml" class="ui-widget-html ui-corner-top ui-state-default">
                    <span>Participant Details</span>
                    {% spaceless %}
                    <ul>
                        <li class="col-header">Bib #:</li>
                        <li class="ui-widget-content not-header">{{ participant.bibNumber }}</li>
                        <li class="col-header">Age:</li>
                        <li class="ui-widget-content not-header">{{ participant.age }}</li>
                        <li class="col-header">Sex:</li>
                        <li class="ui-widget-content not-header">{{ participant.sex }}</li>
                        <li class="col-header">Home:</li>
                        <li class="ui-widget-content not-header">{{ participant.home }}</li>
                        <li class="col-header">Team:</li>
                        <li class="ui-widget-content not-header">{{ participant.team|default:"None" }}</li>
                    </ul>{% endspaceless %}
                </div>
                <div class="ui-widget-content ui-corner-bottom">
                    {% if participant.dnfStation != None %}
                    <ul><li class="droppedat">Dropped at station {{ participant.dnfStation }}, reason: {{ p.dnfReason|default:"N/A" }}</li></ul>
                    {% else %}
                        {% if participant.lastAction %}
                        <ul><li class="droppedat">Runner last reported {{ participant.lastAction }} station {{ participant.lastStation }} at {{ participant.lastActionTime }} ({{ participant.lastActionDelta }} ago)</li></ul>
                        {% if participant.totalShort %}
                        <ul><li class="droppedat">Runner finished the race in {{ participant.totalLong }} ({{ participant.totalShort }})</li></ul>
                        {% endif %}
                        {% else %}
                        <ul><li class="droppedat">No useful times have been reported for this runner</li></ul>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <br>
            <div id="gridhtml" class="ui-widget-html ui-corner-top ui-state-default">
                <span>Reported Sightings</span>
                {% spaceless %}
                <ul>
                    <li class="num">#</li>
                    <li class="name">Name</li>
                    <li class="station">Distance</li>
                    <li class="station">Arrived</li>
                    <li class="station last">Left</li>
                </ul>{% endspaceless %}
            </div>
            <div id="resultContainer" class="ui-widget-content ui-corner-bottom resultContainer">
                {% spaceless %}
                {% for sNo, station in participant.entrys.iteritems %}
                <ul sno="{{ sNo }}">
                    <li class="num">{{ sNo }}</li>
                    <li class="name">{{ station.name }}</li>
                    <li class="station">{{ station.distance }}</li>
                    <li class="station">{{ station.time_in }}</li>
                    <li class="station last">{{ station.time_out }}</li>
                </ul>
                {% endfor %}
                {% endspaceless %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

