{% extends "__layout__.html" %}

{% block headtags %}
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/resultbuilder.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/pages/event_lookup.js"></script>
{% endblock %}

{% block headJS %}

    var curPage;
    var evtId = "{{ evt }}";

    $(document).ready(function() {
        $("#searchResults").find("ul").click(function(evt) {
            var bibNo = $(this).attr("rNo");
            $(document.location).attr("href", "/viewRunner?evt=%s&runnerNumber=%s".format(evtId, bibNo));
        });
        $("#txtQuickSearch").focus().select();
    });

{% endblock %}

{% block navbarExtra %}
    <!--<li style="float: right"><a href="{{ BASE_URL }}event/main?evt={{ evt }}">Full Grid</a></li>-->
    <!--<li style="float: right"><a href="{{ BASE_URL }}event/results?evt={{ evt }}">Results</a></li>-->
    <!--<li style="float: right"><a href="{{ BASE_URL }}event/splits?evt={{ evt }}">Splits</a></li>-->
    <li style="float: right"><a href="{{ BASE_URL }}lookup?evt={{ evt }}">Lookup</a></li>
{% endblock %}

{% block content %}

<div class="stdTablePage results" id="lookupMain">

    <div style="display: block; height: auto; width: 420px; " class="ui-widget ui-widget-content ui-corner-all stdTablePage" tabindex="-1">
        <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix" unselectable="on" style="-moz-user-select: none;">
            <span class="ui-dialog-title" id="ui-dialog-title-1" unselectable="on" style="-moz-user-select: none;">Quick Search form</span>
        </div>
        <div class="ui-dialog-content ui-widget-content" style="width: auto; display: block; min-height: 170px; height: auto;">
            <br />
            <form method="get" action="/lookup">
                <input type="hidden" name="evt" value="{{ evt }}">
                <label for="name">Search for:</label> <input type="text" id="txtQuickSearch" name="name"> <input type="submit" value="Search">
            </form>
            {% if lookup %}
            <br />
            <br />
            <div id="searchResults" class="searchResults">
                <div class="ui-widget-html ui-corner-top ui-state-default" id="gridhtml">
                    {% spaceless %}<span>{{ lookup|length }} result{{ lookup|length|pluralize }} found</span>
                    <ul><li class="num">Bib#</li>
                        <li class="name">Name</li>
                        <li class="from last">From</li></ul>{% endspaceless %}
                </div>
                <div class="ui-widget-content ui-corner-bottom resultContainer" id="resultContainer">
                    {% for item in lookup %}{% spaceless %}
                    <ul rNo="{{ item.bibNumber }}"><li class="num"><a href="/viewRunner?evt={{ evt }}&runnerNumber={{ item.bibNumber }}">{{ item.bibNumber }}</a></li>
                            <li class="name"><a href="/viewRunner?evt={{ evt }}&runnerNumber={{ item.bibNumber }}">{{ item.firstName }} {{ item.lastName }}</a></li>
                            <li class="from last"><a href="/viewRunner?evt={{ evt }}&runnerNumber={{ item.bibNumber }}">{{ item.home }}</a></li></ul>
                    {% endspaceless %}{% empty %}
                        No results found!
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}

