{% extends "__layout__.html" %}

{% block headtags %}
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/resultbuilder.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/pages/event_lookup.js"></script>
{% endblock %}

{% block headJS %}

    var curPage;
    var evtId = "{{ get.evt }}";

    $(document).ready(function() {
        curPage = new EventLookupPage(evtId);
        $("#lookup").click(function(evt) {
            evt.preventDefault();
            evt.stopPropagation();
            curPage.event.quickLookup();
        })
    });

{% endblock %}

{% block navbarExtra %}
    <!--<li style="float: right"><a href="{{ BASE_URL }}event/main?evt={{ get.evt }}">Full Grid</a></li>-->
    <!--<li style="float: right"><a href="{{ BASE_URL }}event/results?evt={{ get.evt }}">Results</a></li>-->
    <!--<li style="float: right"><a href="{{ BASE_URL }}event/splits?evt={{ get.evt }}">Splits</a></li>-->
    <li style="float: right"><a href="{{ BASE_URL }}lookup?evt={{ get.evt }}">Lookup</a></li>
{% endblock %}

{% block content %}

<div class="stdTablePage results" id="lookupMain">

    <a href="#" id="lookup">Lookup Runner</a>

</div>
{% endblock %}
