{% extends "__layout__.html" %}

{% block headtags %}
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/pages/event_main.js"></script>
{% endblock %}

{% block headJS %}

    var curPage;
    var evtId = "{{ get.evt }}";

    $(document).ready(function() {
        curPage = new EventMainPage(evtId);
        curPage.setDefaultDateField($("#curDate"));

        $("#aQuickLookup").click(function(evt) {
            evt.preventDefault();
            curPage.event.$("quickLookup")();
        });
    });

{% endblock %}

{% block headerCenter %}
    <div id="dateContainer">Current Date: <input type="text" name="curDate" id="curDate" style="width: 7em; "/></div>
{% endblock %}
{% block headerRight %}
    <div>Total runners: <span id="started_runners"/></div>
    <div>Dropped runners: <span id="dropped_runners"/></div>
    <div>Runners on course: <span id="current_runners"/></div>
{% endblock %}

{% block navbarExtra %}
    <li style="float: right"><a href="#" id="aSpeedyEntry">Speedy <u>E</u>ntry</a></li>
    <li style="float: right"><a href="#">Tools</a><ul>
        <li><a href="#" id="aQuickLookup">Quick <u>L</u>ookup</a></li>
        <li><a href="#" id="aSearchReplace">Search and Replace</a></li>
    </ul></li>
    <li style="float: right"><a href="{{ BASE_URL }}event/results?evt={{ get.evt }}">Results</a></li>
    <li style="float: right"><a href="{{ BASE_URL }}event/splits?evt={{ get.evt }}">Splits</a></li>
    <li style="float: right"><a href="{{ BASE_URL }}lookup?evt={{ get.evt }}">Lookup</a></li>
{% endblock %}

{% block content %}

<div style="width: 1em;" id="emRuler"></div>

<div class="stdTablePage grid" id="gridMain">

    <div class="ui-widget">
        <div class="ui-widget-header ui-corner-top ui-state-default" id="gridHeader">
            <span id="loggedInText" style="display: none;">You are logged in as <span id="username"></span></span>
            <ul class="left">
                <li class="num">#
                </li><li class="name">Name
            </li></ul>
        </div>
        <div class="ui-widget-content ui-corner-bottom" id="gridContainer">
        </div>
    </div>
</div>
{% endblock %}
