{% extends "__layout__.html" %}

{% block headtags %}
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/resultbuilder.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/pages/event_results.js"></script>
{% endblock %}

{% block headJS %}

    var curPage;
    var evtId = "{{ get.evt }}";

    $(document).ready(function() {
        curPage = new EventResultsPage(evtId);
    });

{% endblock %}

{% block navbarExtra %}
    <li style="float: right"><a href="{{ BASE_URL }}index#grid/{{ get.evt }}">Full Grid</a></li>
    <li style="float: right"><a href="{{ BASE_URL }}event/results?evt={{ get.evt }}">Results</a></li>
    <li style="float: right"><a href="{{ BASE_URL }}event/splits?evt={{ get.evt }}">Splits</a></li>
{% endblock %}

{% block content %}

<div class="stdTablePage results" id="resultsMain">

    <h1 id="pleasewait">Calculating race results... please wait.</h1>

</div>
{% endblock %}
