{% extends "__layout__.html" %}

{% block headtags %}
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/pages/event_splits.js"></script>
{% endblock %}

{% block headJS %}

    var curPage;
    var evtId = "{{ get.evt }}";

    $(document).ready(function() {
        curPage = new EventSplitsPage(evtId);
    });

{% endblock %}

{% block navbarExtra %}
    <li style="float: right"><a href="{{ BASE_URL }}index#grid/{{ get.evt }}">Full Grid</a></li>
    <li style="float: right"><a href="{{ BASE_URL }}event/results?evt={{ get.evt }}">Results</a></li>
    <li style="float: right"><a href="{{ BASE_URL }}event/splits?evt={{ get.evt }}">Splits</a></li>
    <li style="float: right"><a href="{{ BASE_URL }}lookup?evt={{ get.evt }}">Lookup</a></li>
{% endblock %}

{% block content %}

<div class="stdTablePage grid" id="gridMain">

    <div class="ui-widget">
        <div class="ui-widget-header ui-corner-top ui-state-default" id="gridHeader">
            <span id="loggedInText" style="display: none;">You are logged in as <span id="username"></span></span>
            <ul class="left">
                <li class="num">#
                </li><li class="name">Name
            </li></ul>
        </div>
        <div class="ui-widget-content ui-corner-bottom" id="gridContainer">
        </div>
    </div>
</div>
{% endblock %}
