<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head profile="http://gmpg.org/xfn/11">
    <title>KD7BBC.org: {% block title %}Race Control System{% endblock %}</title>

    <link rel="stylesheet/less" href="{{ MEDIA_URL }}public/css/style.less" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}public/css/kd7bbc_jquery/jquery-ui-1.8.custom.css" type="text/css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}public/css/print.css" type="text/css" media="print" />
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/jquery-ui-1.8.custom.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/less-1.3.0.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/rbJSLib.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/date.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/time.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/jquery.json-2.2.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/jquery-textfieldPlaceholders.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/jquery.textarearesizer.compressed.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/jquery.simpletip-1.3.1.pack.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/jquery.maskedinput-1.2.2.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/rbModel.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/raceControl_common.js"></script>


    {% block headtags %}
    {% endblock %}
    <script type="text/javascript" language="Javascript">

    base_url = "{{ BASE_URL }}webAPI";
    {% block headJS %}
        $(document).ready(function() {

        });
    {% endblock %}
    
    </script>
</head>

<body>
    <div id="page">
        <div id="header">
            <div class="head-left">
                <img src="{{ MEDIA_URL }}public/images/kd7bbcavatar.png" style="float: left; margin-top: -.4em; width: 6.5em; height: 6.5em;" />
                <div id="headertitle">
                    <h1><a href="https://kd7bbc.org/radioform/" title="KD7BBC.org: Amateur Radio License Exam Tools">KD7BBC.org</a></h1>
                    <p>Race Control System</p>
                </div>
            </div>
            <div class="head-center">{% block headerCenter %}{% endblock %}</div>
            <div class="head-right">{% block headerRight %}{% endblock %}</div>
        </div>

        <div id="navbar">
            <ul id="nav">
                {% block navbarMain %}
                <li><a href="{{ BASE_URL }}">Choose Event</a></li>
                {% endblock %}{% block navbarExtra %}
                {% endblock %}
            </ul>
        </div>
        <div id="wrapper"> 
            <div id="content">
                {% block content %}
                {% endblock %}
            </div> <!-- content -->
        </div> <!-- wrapper -->
        <div id="footer">
            This system is Copyright &copy;2010 <a href="http://kd7bbc.org/">Richard Bateman, KD7BBC</a>.  All rights reserved.
        </div>
    </div>
</body>
</html>
