<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head profile="http://gmpg.org/xfn/11">
    <title>KD7BBC.org: {% block title %}Race Control System{% endblock %}</title>

    <link rel="stylesheet/less" href="/public/css/style.less" type="text/css" media="screen" />
    <link rel="stylesheet" href="/public/css/kd7bbc_jquery/jquery-ui-1.8.custom.css" type="text/css" />
    <link rel="stylesheet" href="/public/css/print.css" type="text/css" media="print" />
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/less-1.3.0.js"></script>

    {% block headtags %}
    {% endblock %}
</head>

<body>
    <div id="page">
        <div id="header">
            <img src="/public/images/kd7bbcavatar.png" style="float: left; margin-top: -.4em; width: 6.5em; height: 6.5em;" />
            <div id="headertitle">
                <h1>KD7BBC.org</h1>
                <p>Race Control System</p><div style="width: 1em;" id="emRuler"></div>
            </div>
            <div id="head-center"></div>
            <div id="head-right"></div>
        </div>

        <div id="navbar">
            <ul id="nav">
                {% block navbarMain %}
                <li><a href="/index">Choose Event</a></li>
                {% endblock %}{% block navbarExtra %}
                {% endblock %}
            </ul>
        </div>
        <div id="wrapper"> 
            <div id="content">
                {% block content %}
                {% endblock %}
            </div> <!-- content -->
        </div> <!-- wrapper -->
        <div id="footer">
            This system is Copyright &copy;2012 <a href="http://kd7bbc.org/">Richard Bateman, KD7BBC</a>.  All rights reserved.
        </div>
    </div>
</body>
</html>
