{% extends "__layout_new__.html" %}

{% block content %}

<div id="main_content"></div>
<script data-main="/public/scripts/index.js" src="/public/scripts/ext/require-jquery.js"></script>

{% endblock %}
