{% extends "__layout__.html" %}

{% block headtags %}
<script type="text/javascript" src="{{ MEDIA_URL }}public/js/pages/index.js"></script>
{% endblock %}

{% block headJS %}

var curPage;

    $(function() {
        curPage = new IndexPage();
    });

{% endblock %}

{% block content %}

<div class="stdTablePage list">

    <div class="ui-widget">
        <div class="ui-widget-header ui-corner-top ui-state-default">
            <span id="loggedInText" style="display: none;">You are logged in as <span id="username"></span></span>
            <ul class="left">
                <li style="width: 10%"><span class="ui-icon ui-icon-pencil"></span>
                </li><li style="width: 20%">&nbsp;Event Date
                </li><li style="width: 70%">Event Description
            </li></ul>
        </div>
        <div class="ui-widget-content ui-corner-bottom" id="eventContainer">
            <ol><li class="full center multi-button" id="addNew"><span class="ui-icon ui-icon-plusthick"></span> Add a new Event</li></ol>
        </div>
    </div>
</div>

{% endblock %}
