{% extends "__layout__.html" %}

{% block headtags %}
    <script type="text/javascript" src="{{ MEDIA_URL }}public/js/pages/viewers.js"></script>
{% endblock %}

{% block headJS %}

var curPage;

    $(document).ready(function() {
        RB.html.addHover($("#eventContainer ol, #eventContainer ul"), "hover-state");
    });

{% endblock %}

{% block navbarExtra %}

{% endblock %}

{% block content %}

<div class="stdTablePage list">

    <div class="ui-widget">
        <div class="ui-widget-header ui-corner-top ui-state-default">
            <span id="heh">Click on the event to see race results. To look up a specific runner, click "Lookup Runner"</span>
            <span id="loggedInText" style="display: none;">You are logged in as <span id="username"></span></span>
            <ul class="left">
                <li style="width: 10%"><span class="ui-icon ui-icon-pencil"></span>
                </li><li style="width: 20%">&nbsp;Event Date
                </li><li style="width: 70%">Event Description
            </li></ul>
        </div>
        <div class="ui-widget-content ui-corner-bottom" id="eventContainer">
            {% spaceless %}{% for e in events %}
            <ul id="e.uuid" class="left">
                <li evtid="e.uuid" style="width: 10%;">
                    <a style="color: red;" class="lookup" href="/lookup?evt={{ e.uuid }}">Lookup Runner</a>
                </li>
                <li style="width: 20%; text-align: center;"><a class="lookup" href="/event/results?evt={{ e.uuid }}">{{ e.date }}</a></li>
                <li style="width: 70%; text-align: center;"><a class="lookup" href="/event/results?evt={{ e.uuid }}">{{ e.name }}</a></li>
            </ul>
            {% endfor %}{% endspaceless %}
        </div>
    </div>
</div>

{% endblock %}
