@dbModelRowHeight: 20px;
.DbModelEdit { padding: 0; margin: 0; list-style: none; width: 100%;
    li { margin: 0; padding: 10px 0; width: 100%; .clearFix(); font-size: 12px;
        label { width: 30%; padding: 2px 5% 0 0; text-align: right; display: block; float: left; line-height: @dbModelRowHeight; }
        input { line-height: @dbModelRowHeight; height: @dbModelRowHeight; }
        input, select { width: 55%; text-align: left; float: left; }
        div.db_field { width: 55%; text-align: left; float: left; padding: .35em .5em; }
        .db_datetime { .clearFix(); padding-left: 35%; width: 55%;
            input, select { width: 100%; margin-bottom: 10px;
                &.lastField { margin-bottom: 0; }
            }
        }
    }
}

.ui-dialog-buttonpane .ui-dialog-buttonset {
    text-align: right;
    & button { float: none; }
}
