
.newgrid { width: 100%; margin: 0 auto; position: relative;
    #loading_progress { position: absolute; top: -2em; line-height: 2em; height: 2em; text-align: center; width: 100%; }
    ul { padding: 0; margin: 0 auto; text-align: left; float: left; clear: both;
        &.dropped {
            li.num, li.position, li.name { text-decoration: line-through; color: #aaa; }
        }
        &:nth-child(even) { background: rgba(0,0,0,0.05); }
        li { padding: 0.25em; padding-right: 1px; list-style: none; display: block; text-align: left; border-right: 1px solid #DFD9C3; float: left;
            &:last-child { border-right: none; }
            &.num { width: 2.5em; text-align: right;
                span { padding: 0 3px 0 0; }
            }
            &.position { width: 6em; text-align: center;
                .place { color: #f66; }
                .suffix { font-size: .6em; position: relative; top: -3px; left: 1px; }
            }
            &.sex { width: 2.5em; text-align: center; }
            &.age { width: 2.5em; text-align: center; }
            &.avgage { width: 4.5em; text-align: center; }
            &.from { width: 3em; text-align: center; }
            &.time { width: 6em; text-align: center; }
            &.longtime { width: 10em; text-align: center; }
            &.name { width: 11.5em; .lineTruncate();
                span { padding: 0 0 0 5px; }
            }
            &.longname { width: 35.5em; }
            &.station { width: 6.6em; position: relative;
                &.start, &.finish { text-align: center; }
            }
            &.elapsed { width: 6.6em; text-align: center; }
            &.col-header { border-right: none; margin-right: -0.25em; }
            &.not-header { font-weight: normal; margin-right: 0.25em; padding: 0; text-align: center; width: 10%; }
            &.droppedat { color: red; border-right: none; }
            &.last, &:last { border-right: none; }
            &.disabled { text-decoration: line-through; color: #aaa; }
            &.station.bad_data { background: rgba(255,0,0,0.5) !important; border: 1px solid red; z-index: 100; }
            &.station {
                &.grad1  { background: rgba(255,227,0,0.1 ); }
                &.grad2  { background: rgba(255,227,0,0.2 ); }
                &.grad3  { background: rgba(255,227,0,0.3 ); }
                &.grad4  { background: rgba(255,227,0,0.4 ); }
                &.grad5  { background: rgba(255,227,0,0.5 ); }
                &.grad6  { background: rgba(255,227,0,0.6 ); }
                &.grad7  { background: rgba(255,227,0,0.7 ); }
                &.grad8  { background: rgba(255,227,0,0.8 ); }
                &.grad9  { background: rgba(255,227,0,0.9 ); }
                &.grad10 { background: rgba(255,227,0,1.0 ); }
            }
            &.station.dropped { background: rgba(255,0,0,.4); }
            &.station .elapsedTime { display: none; }
            &.station:hover, &.name:hover { background: rgba(0,0,0,.1); cursor: hand; cursor: pointer;
                .elapsedTime { display:block; position: fixed; top: 0; left: 25%; background-color: lighten(#23724a, 20%); padding: 6px; color: #333; }
            }
            &.station .dropped { float: right; padding-right: 0.25em; }
        }
    }
    .missed { background: rbga(0,0,0,0.2); }
    .expected { background: rgba(0, 0, 0, .25); }
    .ui-widget-header {
        ul li { text-align: center;
            &:hover { background: rgba(0,0,0,.1); cursor: hand; cursor: pointer; }
        }
    }
    .ui-widget-content { background-image: none; }
    ol { padding: 0; margin: 0; white-space: nowrap;
        li { margin: 0; padding: 0.25em 0; list-style: none; white-space: nowrap; }
    }
    &.list {
        ul li { border: 0; padding: 0.25em 0; }
    }
    .stationHeader {
        position: relative;
        .info { display: none;
            & > *:first-child { padding-top: 5px; }
            & > *:last-child { padding-bottom: 5px; }
        }
        &:hover {
            .info { position: absolute; display: block; z-index: 1; left: -2em; bottom: -1px; width: 10.3em;
                a:hover { text-decoration: underline; }
            }
        }
        .stationName { .lineTruncate(); }
    }
    .buttonBar { float: right; position: absolute; top: -2.5em; right: 0;
        .ui-button-text { padding: 0.2em 0.5em; }
    }
}
.clearWidget { clear: both; }
