
#head-center { position: absolute; left: 50%; width: 50%; margin-left: -25%; text-align: center; }

.home_list { text-align: left;
    .event_date, .event_crud, .event_desc { display: block; float: left; }
    .event_crud { width: 10%; float: right; text-align: right; padding-right: 3px; }
    .event_date { width: 20%; padding-left: 5%; }
    .event_desc { width: 55%; }
    .header {
        .header_row { .clearFix(); padding: 15px 0 5px; cursor: default; position: relative;
            #new_event { position: absolute; top: 3px; right: 3px; }
        }
    }
    .content {
        &.ui-widget-content { background-image: none; }
        .content_row { .clearFix(); height: 40px;
            &:hover { background: rgba(0,0,0,0.1); cursor: pointer; }
            .event_date { padding-top: 7px; }
            .event_desc { line-height: 40px; }
            .event_crud {
                .ui-button { position: relative; top: 5px; }
                .ui-button-text-only .ui-button-text { padding: 1px 3px; }
            }
        }
        .no_content_row { height: 40px; line-height: 40px; text-align: center; }
    }
}
