/* =Custom Mixins
-------------------------------------------------------------- */
.clearFix(){
    &:before, &:after { content: ""; display: table; }
    &:after { clear: both; }
    & { zoom: 1; }
}

.lineTruncate(@type: ellipsis)
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: @type;
}

// Box sizing
.box-sizing(@boxmodel) {
  -webkit-box-sizing: @boxmodel;
     -moz-box-sizing: @boxmodel;
          box-sizing: @boxmodel;
}
