/*
	The CSS, XHTML and design is released under GPL:
	http://www.opensource.org/licenses/gpl-license.php
*/

body {
	font-family:'Lucida Grande', Verdana, Arial, Sans-Serif;
}

#header {
	border-bottom: 1px solid #aaa;
}

a {
	background:transparent;
	color:black;
	text-decoration:none;
}

.search {
	display:none;
}

#hmenu, #nav {
	display:none;
}

#sidebar {
	display:none;
}

#footer {
	display:none;
}

.post blockquote {
	padding:0 0 0 1em;
	border-left:0.4em solid #ccc;
	font-size:small;
}

.postmetadata, .post-meta {
	clear:both;
	font-size:small;
}

.navigation {
	display:none;
}

#respond,
#commentform, #comments .reply {
	display:none;
}

.commentlist img.avatar {
	float: right; margin: 0 0 0 10px; padding: 3px; border:1px solid #eee;
}

.aligncenter,
div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.alignleft {
   float: left;
   margin: 5px 5px 5px 0;
}

.alignright {
   float: right;
   margin: 5px 0 5px 5px;
}

#regFormTarget
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* Manifest page CSS */

.info {
    display: none;
}

.ui-icon {
    display: none;
}

.newRow, .ui-widget-header, .ui-widget-content {
    border-top: 1px solid gray;
}

/* Manifest list "table" */

.manifestList, .statList {
    margin: 0 auto;
    width: 100%;
    font-size: 65%;
}

.manifestList ul
{
    margin: 0;
    padding: 0;
}

.manifestList ul li
{
    list-style: none;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0;
    padding: .2em 0;
    /*border: 1px solid black;*/
}

.manifestList ul li.num
{
    width: 5%;
}

.manifestList ul li.name
{
    width: 30%;
    text-align: left;
}

.manifestList ul li.phone
{
    width: 25%;
}

.manifestList ul li.doubleCheck {
    width: 10%;
    background: rgba(0,0,0,0.2);
    border-right: 1px solid black;
    margin-right: -1px;
    border-left: 1px solid black;
    margin-left: -1px;
}

.manifestList ul li.doubleCheck.first {
    border-left: 2px solid black;
    margin-left: -2px;
}

.manifestList ul li.doubleCheck.last {
    border-right: 0;
    margin-right: 0;
}

.manifestList ul li.pass, .manifestList ul li.fail {
    width: 5%;
    font-weight: bolder;
}

.manifestList ul li.pass {
    color: #0f0;
    background: rgba(0,0,0,0.1);
    border-left: 1px solid black;
    margin-left: -1px;
}

.manifestList ul li.pass.first {
    border-left: 2px solid black;
    margin-left: -2px;
}

.manifestList ul li.fail {
    color: #f00;
    background: rgba(0,0,0,0.1);
    border-right: 1px solid black;
    margin-right: -1px;
}
.manifestList ul li.fail.last {
    margin-right: 0;
    border-right: 0;
}

.manifestList .even {
    background: rgba(0,0,0,0.1);
}

.manifestList .multiTry
{
    color: #666;
    font-style: italic;
    font-size: 65%;
}

.manifestList ul.error {
    background: rgba(0,0,0,0.3);
}

.manifestList ul.error li {
    color: #f00;
}

.manifestList .ui-icon-pencil {
    background-position: -67px -116px;
    width: 11px;
    height: 11px;
}

.manifestList.ui-widget-header, .statList .ui-widget-header {
    border-bottom: 0;
}
.manifestList.ui-widget-content, .statList .ui-widget-header {
    border-top: 0;
}


.statList {
    margin: 0 auto;
    width: 75%;
    font-size: 65%;
}

.statList ul
{
    margin: 0;
    padding: 0;
}

.statList ul li
{
    list-style: none;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0;
    padding: .2em 0;
}

.statList ul li.heading {
    text-align: right;
    font-weight: bolder;
    width: 40%;
}

.statList ul li.big_heading {
    text-align: right;
    font-weight: bolder;
    width: 80%;
}

.statList ul li.column {
    width: 15%;
}

.statList .odd {
    background: rgba(0,0,0,0.1);    
}

.editDialog.FCC {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.editDialog iframe
{
    width: 100%;
    height: 100%;
}






.stdTablePage {
    width: 75%;
    margin: 0 auto;
}

.stdTablePage ul {
    padding: .25em 0;
    margin: 0 auto;
    text-align: left;
}

.stdTablePage ul li {
    padding: 0 0;
    margin: 0 -0.5em 0 0.5em;
	list-style: none;
    display: inline-block;
    text-align: center;
    /*width: 25%;*/
}
.stdTablePage ol {
    padding: 0;
    margin: 0;
    white-space: nowrap;
}
.stdTablePage ol li {
    margin: 0;
    padding: 0.25em 0;
    list-style: none;
    white-space: nowrap;
}

.stdTablePage.grid {
    width: 100%;
}

#gridContainer {
    height: 100em;
}

.stdTablePage.results {
    width: 100%;
}

.stdTablePage ul {
    padding: 0;
    margin: 0 auto;
    text-align: left;
}

.stdTablePage ul li {
    border-right: 1px solid #DFD9C3;
    text-align: left;
    padding: 0.25em 0;
    padding-right: 1px;
    margin: 0 -0.5em 0 0.5em;
}

.stdTablePage.list ul li {
    border: 0;
    padding: 0.25em 0;
}

.stdTablePage ul li.last {
    border-right: none;
}

.stdTablePage ul li.num { min-width: 2.5em; text-align: right }
.stdTablePage ul li.place { min-width: 4em; text-align: center; font-size: 9pt; }
.stdTablePage ul li.sex { min-width: 2.5em; text-align: center }
.stdTablePage ul li.age { min-width: 2.5em; text-align: center }
.stdTablePage ul li.avgage { min-width: 4.5em; text-align: center }
.stdTablePage ul li.from { min-width: 3em; text-align: center }
.stdTablePage ul li.time { min-width: 6em; text-align: center }
.stdTablePage ul li.longtime { min-width: 10em; text-align: center }
.stdTablePage ul li.name { min-width: 11.5em; }
.stdTablePage ul li.longname { min-width: 35.5em; }
.stdTablePage ul li.station { min-width: 6.3em; text-align: center }
.stdTablePage ul li.elapsed { min-width: 6.3em; text-align: center }
.stdTablePage ul li.col-header { border-right: none; margin-right: -0.25em; }
.stdTablePage ul li.not-header { font-weight: normal; margin-right: 0.25em; padding: 0; text-align: center; width: 10%; }
.stdTablePage ul li.droppedat { color: red; border-right: none; }
.stdTablePage .ui-widget-header ul li { text-align: center }

.stdTablePage ul li.station.dropped { background: rgba(255,0,0,.4); }

li.place span.place {
    color: #f66;
    font-size: 11pt;
}

.stdTablePage.grid ul li:hover {
    background: rgba(0,0,0,.1);
    cursor: hand;
    cursor: pointer;
}

.stationHeader {
    position: relative;
}

.stationHeader .info {
    display: none;
}

.stationHeader:hover .info {
    position: absolute;
    display: block;
    z-index: 1;
    left: -2em;
    bottom: -1px;
    width: 10.3em;
    height: 4.5em;
}

.stationHeader:hover .info a:hover {
    text-decoration: underline;
}

.smaller {
    font-size: .75em;
    color: #eee;
}

.full {
    width: 100%;
}

.leftHalf {
}
.rightHalf {
}

.inactive {
    color: #bbb;
}

#speedyTable {
    width: 33em;
    margin: 0 auto;
}

#speedyTableBody ul li {
    min-height: 0.8em;
}

#speedyTable ul li.num { min-width: 2.5em; text-align: center }

/* Speedy Data Entry stuff */
input#txtSpeedyStation {
    width: 1.5em;
    text-align: center;
}

input.time_entry {
    width: 5em;
    text-align: center;
}

li.num input {
    width: 1.7em;
    text-align: right;
}

/** These should be at the end **/
ul.left li {
    text-align: left;
}

.dbEdit {
    width: 100%;
}

.dbEdit ul {
    padding: 0;
    margin: 0 auto;
    text-align: left;
}

.dbEdit ul li {
    list-style: none;
    float: left;
    width: 100%;
    padding-bottom: .25em;
}

.dbEdit ul li label {
    display: block;
    float: left;
    width: 8.5em;
    clear: left;
    text-align: right;
}

.dbEdit ul li input {
    display: block;
    width: 13em;
    float: right;
    clear: right;
}

.dbEdit ul li select {
    display: block;
    float: right;
    clear: right;
}

/* Login Dialog */
.loginDialog ul {
    padding: 0;
    width: 100%;
}

.loginDialog ul li {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}

.loginDialog ul li label {
    display: block;
    float: left;
    clear: left;
    width: 45%;
    text-align: right;
    padding-right: .25em;
}
.loginDialog ul li span {
    display: block;
    float: left;
    clear: right;
    width: 45%;
    text-align: left;
    padding-right: .25em;
}
.loginDialog ul li input {
    width: 49%;
    text-align: left;
}

.loginDialog button {
    margin-top: 1em;
}

.ui-icon-pencil.ui-icon.small {
    background-position: -67px -116px;
    width: 11px;
    height: 11px;
    display: inline-block;
}
.ui-icon-disk.ui-icon.small {
    background-position: -98px -116px;
    width: 11px;
    height: 11px;
    display: inline-block;
}

#ui-datepicker-div {
    display: none;
}

.teamResultTable {
    width: 100%;
    float: left;
    clear: both;
}

.teamResultTable .ui-widget {
    width: 65em;
    margin: 0 auto;
}

.resultTable {
    width: 100%;
    float: left;
    clear: both;
}

.resultTable .ui-widget {
    width: 35.5em;
    margin: 0 auto;
}

.resultTable .mColumn {
    text-align: center;
}

.resultTable .fColumn {
    text-align: center;
}

.resultContainer {
}

.searchResults {
    width: 19.5em;
    margin: 0 auto;
    padding-top: 1em;
}

.searchResults .ui-widget-content ul:hover {
    background: rgba(0,0,0,.1);
    cursor: pointer;
    cursor: hand;
}

.participantSummary {
    width: 39.5em;
}

.quickSearch ul {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
}

.quickSearch ul li {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    float: left;
}

.quickSearch ul li label {
    font-weight: bolder;
    text-align: right;
    width: 20%;
    display: block;
    float: left;
}
.quickSearch ul li input, .quickSearch ul li select {
    float: left;
    margin-left: 1em;
    width: 70%;
}
