@speedyEntryWith: 376px;
@smallCol: 32px;
@largeCol: 78px;
@colPadding: 7px;
@speedyEntryRowHeight: 30px;
.spField(){ display: block; float: left; text-align: center; min-height: 1px; }
#speedy_entry_container{ width: @speedyEntryWith;
    #speedy_entry_header { padding: 3px 0 5px;
        .helpLink { float: right; }
    }
    #speedy_entry_table{
        .sp_station_num { .spField(); width: @smallCol; }
        .sp_num { .spField(); width: @smallCol; }
        .sp_name { .spField(); width: @speedyEntryWith - (@smallCol*3) - (@largeCol*2) - 2; .lineTruncate(); } // 2 is for border
        .sp_station_in { .spField(); width: @largeCol; }
        .sp_station_out { .spField(); width: @largeCol; }
        .sp_edit {.spField(); width: @smallCol; }
        .ui-widget-header {
            .clearFix(); height: @speedyEntryRowHeight; line-height: @speedyEntryRowHeight;
        }
        ul.ui-widget-content { list-style-type: none; margin: 0; padding: 0; background-image: none;
            #input_row {
                input { text-align: center; }
                input.time { width: @largeCol; display: none; }
                input.numeric { width: @smallCol; }
                &.entering_time {
                    input.time { display: inline; }
                    input.numeric { background-color: #ccc; }
                }
            }
            li { position: relative; .clearFix(); height: @speedyEntryRowHeight; line-height: @speedyEntryRowHeight;
                &.history_row { background-color: #DFD9C3; }
                .sp_edit { position: absolute; top: 1px; right: 1px;
                    .ui-button-text-only .ui-button-text { padding: 2px 4px 4px 2px; }
                }
            }
        }
    }

    .history { overflow: auto; max-height: 21em; }
}
