@import "elements.less";
@import "mixins.less";
/*******************************************************************************
 * Variables
 ******************************************************************************/
@header_height: 5.5em;
@header_nav_height: 1.8em;
@footer_height: 2em;

.elapsedTime { display: none; }

* { .box-sizing(border-box); }

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin:0;
    background:#fff;
    color:#444;
    font-size: 68.8%; /* Resets 1em to 11px */
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    text-align:center;
}

a {
    color:#285;
    text-decoration:none;
}

table {
    border-collapse: collapse;
}

a:hover {
    text-decoration:underline;
}

h1, h1 a, h2, h2 a, h3, h4, h5, h6 {
    margin-bottom:0;
    color:#2a7;
    text-align:left;
}

h1 {font-size:2.6em;}
h2 {font-size:2em;}
h3 {font-size:1.6em;}
h4 {font-size:1.2em;}
h5 {font-size:1em;}
h6 {font-size:0.8em;}


img {
    border:0;
}

input {
    font-size:1.2em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding-left: .2em;
    padding-right: .2em;
}
input.disabled {
    background-color: #ddd !important;
}

input[type=text], input[type=password], textarea{
    background:#fff;
    border:1px solid #aaa;
}
input[type=submit] {
    background:#eee;
    border:1px solid #aaa;
}
input[name=state], input#appl_state, input#appl_middle {
    text-align: center;
}

textarea {
    font-size:12px;
}

pre {
    font-size:12px;
    overflow:auto;
}
code {
    font-size:12px;
    background-color:#f8f8f8;
    color:#111;
}

.mt63Buffer {
    white-space: pre-wrap;
    width: auto;
    border: 1px solid gray;
    font-family: monospace;
}

.tooltip {
   position: absolute;
   padding: 0.5em;
   z-index: 3;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.multi-button .ui-icon {
    display: inline-block;
    top: 0.25em;
    position: relative;
    margin-right: 0.5em;
}

/* Layout */
#page {
    min-width:760px;
    margin:0;
    text-align: center;
    min-height: 100%;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: -9.6em 0 0em;
    /* padding-right:230px; */
}

#content{
    float:left;
    width:96%;
    padding:30px 2% 11px 2%;
}

#sidebar{
    float:left;

    width:190px;
    margin:0 -230px 0 0;
    padding:20px;
    background:#eee;
}

#footer, .push {
    clear:both;
}

#footer {
    height: @footer_height;
    padding:.3em;
    border-top:0.2em solid #555;
}

/* Header */

#header {
    margin:0;
    padding:0em 0;
    height:@header_height;
    background:#23724a;
    color: #fff;
    text-align: center;
}
#header .head-left {
    position: absolute;
    top: 0;
    left: 0;
}
#header .head-center {
    position: absolute;
    width: 100%;
}
#header .head-right {
    position: absolute;
    top: .5em;
    right: 0;
    text-align: right;
    position: relative;
}

#header .head-right > div {
    position: relative;
    right: .3em;
}

#header #started_runners, #header #dropped_runners, #header #current_runners {
    font-size: 1.2em;
}

#headertitle {
    float:left;
    position:relative;
    top:.1em;
    left:-1.5em;
}
#headertitle h1 {
    margin:0;
}
#headertitle h1 a {
    background:transparent;
}
#headertitle h1 a:hover {
    text-decoration:none;
}

#headertitle p {
    margin:0;
    background:transparent;
    font-size:1.1em;
}

#header #dateContainer {
    position: relative;
    top: 3em;
}

.search {
    float:right;
    padding:1.5em 5% 0 0;
}
.search form {
    margin:0;
    padding:0;
}
.search input {
    display:inline;
    width:218px;
    border:1px solid #6b9;
    margin:0;
    padding:0.2em 5px;
    background:#3b8;
    color:#ddd;
    font-size:1.1em;
}


/* Top navigation */
#navbar {
    border-top:0.1em solid #555;
    border-bottom:0.1em solid #555;
    background:#167952;
    height: @header_nav_height;
    margin: 0px;
    padding: 0px ;
}



#nav {
    margin:0 5%;
    padding: 0;
    list-style: none;
    }

#nav ul {
    padding:0.1em 0 0 0;
    margin:0;
    list-style: none;
    background:transparent;
    }

#nav a {
    color:#c6c9c8;
    display: block;
    font-weight: bold;
    padding: 0.25em;
    }

#nav a:hover {
    background: #23b27a;
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 0.25em;
}

#nav li {
    float: left;
    margin: 0;
    text-transform:uppercase;
    padding: 0 2em 0 0;
}

#nav li li {
    float: left;
    margin: 0;
    padding: 0;
    width: 14em;
    text-align: left;
    }

#nav li li a, #nav li li a:link, #nav li li a:visited {
    background: #167952;
    color: #c6c9c8;
    width: 14em;
    float: none;
    margin: 0;
    padding: 0.5em ;
    border-bottom: 1px solid #aaa;
    }

#nav li li a:hover, #nav li li a:active {
    background: #23b27a;
    color: #fff;
    }

#nav li ul {
    position: absolute;
    width: 10em;
    left: -999em;
    }

#nav li:hover ul {
    left: auto;
    display: block;
    }

#nav li:hover ul, #nav li.sfhover ul {
    left: auto;
    }


/* Sidebar */


#sidebar ul {
    padding:0;
    margin:0;
    list-style: none;
    font-size:1.1em;
}
#sidebar ul ul {
    font-size:1em;
}

#sidebar ul li {
    margin:0 0 2em 0;
}

#sidebar ul ul {
    margin:0;
    padding:0;
}

#sidebar li li {
    margin:0.1em 0;
}

#sidebar li li li {
    padding-left:10px;
}

#sidebar ul h2 {
    margin:0;
    padding:0;
    color:#35a466;
    font-size:1.2em;
    text-transform:uppercase;
}


/* Footer */
#footer {
    text-align:center;
    font-size:1em;
    background:#166942;
    color:#eee;
}

#footer a {
    color:#aca;
}

/* Footer end */

#loading_thing.loading
{
    z-index: 9000;
    display: none;
    position: absolute;
    margin: .25em;
    text-align: center;
    padding: 3em;
    top: 40%;
    left: 45%;
    border: 1px solid black;
    background-color: white;
}

.hover-state {
    background: rgba(0,0,0,0.1);
    cursor: pointer;
    cursor: hand;
}

abbr {
    cursor:help;
    border-bottom: 0.1em dotted;
}

.stdTablePage { width: 75%; margin: 0 auto;
    ul { padding: 0; margin: 0 auto; text-align: left;
        li { padding: 0.25em 0; padding-right: 1px; margin: 0 -0.5em 0 0.5em; list-style: none; display: inline-block; text-align: left; border-right: 1px solid #DFD9C3;
            &.num { min-width: 2.5em; text-align: right }
            &.position { min-width: 6em; text-align: center;
                .place { color: #f66; }
            }
            &.sex { min-width: 2.5em; text-align: center }
            &.age { min-width: 2.5em; text-align: center }
            &.avgage { min-width: 4.5em; text-align: center }
            &.from { min-width: 3em; text-align: center }
            &.time { min-width: 6em; text-align: center }
            &.longtime { min-width: 10em; text-align: center }
            &.name { min-width: 11.5em; }
            &.longname { min-width: 35.5em; }
            &.station { min-width: 6.3em; text-align: center }
            &.elapsed { min-width: 6.3em; text-align: center }
            &.col-header { border-right: none; margin-right: -0.25em; }
            &.not-header { font-weight: normal; margin-right: 0.25em; padding: 0; text-align: center; width: 10%; }
            &.droppedat { color: red; border-right: none; }
            &.last, &:last { border-right: none; }
            &.disabled { text-decoration: line-through; color: #aaa; }
            &.station.dropped { background: rgba(255,0,0,.4); }
        }
    }
    .ui-widget-header ul li { text-align: center }
    ol { padding: 0; margin: 0; white-space: nowrap;
        li { margin: 0; padding: 0.25em 0; list-style: none; white-space: nowrap; }
    }
    &.grid, &.results { width: 100%; }
    &.grid {
        ul li:hover { background: rgba(0,0,0,.1); cursor: hand; cursor: pointer; }
    }
    &.list {
        ul li { border: 0; padding: 0.25em 0; }
    }

    .stationHeader {
        position: relative;
        .info { display: none;
            & > *:first-child { padding-top: 5px; }
            & > *:last-child { padding-bottom: 5px; }
        }
        &:hover {
            .info { position: absolute; display: block; z-index: 1; left: -2em; bottom: -1px; width: 10.3em;
                a:hover { text-decoration: underline; }
            }
        }
    }
}

#gridContainer {
    overflow: auto;
    height: 100em;
}

.small {
    font-size: .9em;
}

.smaller {
    font-size: .75em;
    color: #eee;
}

.full {
    width: 100%;
}

.leftHalf {
    width: 50%;
    float: left;
    clear: left;
}
.rightHalf {
    width: 50%;
    float: right;
    clear: right;
}

.inactive {
    color: #bbb;
}


input.time_entry {
    width: 5em;
    text-align: center;
}

li.num input {
    width: 1.7em;
    text-align: right;
}

/** These should be at the end **/
ul.left li {
    text-align: left;
}

.dbEdit {
    width: 100%;
}

.dbEdit ul {
    padding: 0;
    margin: 0 auto;
    text-align: left;
}

.dbEdit ul li {
    list-style: none;
    float: left;
    width: 100%;
    padding-bottom: .25em;
}

.dbEdit ul li label {
    display: block;
    float: left;
    width: 8.5em;
    clear: left;
    text-align: right;
}

.dbEdit ul li input {
    display: block;
    width: 13em;
    float: right;
    clear: right;
}

.dbEdit ul li select {
    display: block;
    float: right;
    clear: right;
}

/* Login Dialog */
.loginDialog ul {
    padding: 0;
    width: 100%;
}

.loginDialog ul li {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}

.loginDialog ul li label {
    display: block;
    float: left;
    clear: left;
    width: 45%;
    text-align: right;
    padding-right: .25em;
}
.loginDialog ul li span {
    display: block;
    float: left;
    clear: right;
    width: 45%;
    text-align: left;
    padding-right: .25em;
}
.loginDialog ul li input {
    width: 49%;
    text-align: left;
}

.loginDialog button {
    margin-top: 1em;
}

.ui-dialog {
    .drop-shadow(0, 0, 5px, 0.5);
}

.ui-icon-pencil.ui-icon.small {
    background-position: -67px -116px;
    width: 11px;
    height: 11px;
    display: inline-block;
}
.ui-icon-disk.ui-icon.small {
    background-position: -98px -116px;
    width: 11px;
    height: 11px;
    display: inline-block;
}

#ui-datepicker-div {
    display: none;
}

.teamResultTable {
    width: 100%;
    float: left;
    clear: both;
}

.teamResultTable .ui-widget {
    width: 65em;
    margin: 0 auto;
}

.resultTable {
    width: 100%;
    float: left;
    clear: both;
}

.resultTable .ui-widget {
    width: 35.5em;
    margin: 0 auto;
}

.resultTable .mColumn {
    text-align: center;
    float: left;
    width: 50%;
}

.resultTable .fColumn {
    text-align: center;
    float: right;
    width: 50%;
}

.resultContainer {
    overflow: auto;
    max-height: 20em;
}

.searchResults {
    width: 26.5em;
    margin: 0 auto;
    padding-top: 1em;
}

.searchResults .ui-widget-content ul:hover {
    background: rgba(0,0,0,.1);
    cursor: pointer;
    cursor: hand;
}

.participantSummary {
    width: 39.5em;
}

.quickSearch ul {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
}

.quickSearch ul li {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    float: left;
}

.quickSearch ul li label {
    font-weight: bolder;
    text-align: right;
    width: 20%;
    display: block;
    float: left;
}
.quickSearch ul li input, .quickSearch ul li select {
    float: left;
    margin-left: 1em;
    width: 70%;
}

#head-right { float: right; text-align: right;
    strong { display: inline-block; width: 2.5em; text-align: left; }
}

.ui-pnotify-history-container { display: none; }

.totalStats { border-top: 1px dotted white; }

@import "index.less";
@import "grid.less";
@import "dialogs.less";
@import "speedyentry.less";
@import "jquery.pnotify.default.less";
@import "flamp.less";
